.mpe-popup-login {
  margin-bottom: 5px;
  &__label {
    margin-top: 10px !important;
    color: #ffffff !important;
  }
  &__button {
    width: 100% !important;
    background-color: #94caef !important;
  }
}
